body
{

	background-image: url("background.jpg");
	background-size:cover;


}

.container

{
    padding: 55px;
  background-color:  #000000b2;
  border-radius: 1cm;
}


#users
{
    background: #214d587c;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    width:470px;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 100px;
}
::placeholder{

    font-size: 13px;
    color: rgba(255, 255, 255, 0.527);

}
#users .input {
padding: 8px;
width:250px;
margin: 5px ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
border: none;
border-bottom: solid white;
background-color: rgba(240, 248, 255, 0);
color: white;
font-size: 16px;
}

input:focus {
    font-weight: bold;
}
h2{
   font-family:'Bahnschrift Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{

    font-weight: 100;
    font-family: 'Bahnschrift Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

label {
    text-align:  center;
    font-weight: bold;
    margin-right: 180px;

}

#users .button {


        padding: 10px;
        border: 4px;
        outline: 10px;
        background-color: rgb(109, 22, 156);
        color: white;
        border-radius: 0.25em;
        width: 150px;
        font-size: 1em;
        font-family: 'Bahnschrift Light','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

